#SiteTitle{
	text-align: center;
	font-family: 'Satisfy', cursive;
}
#Header {
	font-family: Helvetica;
	text-align: center;
}
#Footer {
	text-align: center;
	font-family: Garamond;
}
@font-face {
	font-family: 'Sublime' sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Sublime);
}
#HomeBody {
	background-color: ForestGreen;
}