#SiteTitle{
	text-align: center;
	font-family: Garamond;
}
#Header {
	font-family: Helvetica;
	text-align: center;
}
#Footer {
	text-align: center;
	font-family: Garamond;
}
#Body {
	background-color: forestgreen;
}