#SiteTitle{
	text-align: center;
	font-family: 'Satisfy', cursive;
}
#Header {
	text-align: center;
}
#Footer {
	text-align: center;
	font-family: Garamond;
}
@font-face {
	font-family: 'Sublime' sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Sublime);
}
#HomeBody {
	background-color: ForestGreen;
}
a {
	font-family: monospace;
	font-weight: none;
	text-decoration: underline;
}
a:link {
	color:indigo;
}
a:visited {
	color: red;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}